th {
  vertical-align: middle;
  .name {
    max-width: 200px;
  }
}

tr th:hover {
  cursor: pointer;
  background: linear-gradient( rgb(248, 248, 248), rgb(209, 209, 209));
}

td {
  vertical-align: middle;
}

td.name {
  max-width: 300px !important;
}

td.ticker, td.lastprice, td.perChange, td.high, td.low {
  width: 110px !important;
}

td.graph {
  max-width: 200px !important;
}

td.marketcap, td.totalsupply {
  width: 180px !important;
}

tr {
  height: 60px !important;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.pointerCursor:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  border: 3px solid rgb(22, 143, 247) !important;
}

.tableDiv {
  max-width: 100%;
  margin: auto 5%;
  min-height: 100%;
}

tr.table-header{
  background: linear-gradient( rgb(254, 254, 254), rgb(219, 219, 219));
}

div.pagination {
  display: block;
  width: 100% !important;
  background: rgb(233, 233, 233);
  margin: auto 0 0 0;
  padding: 10px 25% 0 25% !important;
  align-items: center !important;
  position: absolute;
  float: bottom;
}

form {
  height: 100%;
}

div.searchbar {
  align-items: center;
  margin: 15px 5% 0 60%;
}

input.form-control {
  width: 400px;
  height: 100%;
}

div.dropsearch {
  position: fixed;
  z-index: 1;
  width: 400px;
  max-height: 300px;
  overflow: auto;
  background-color: #f9f9f9;
}

div.stocksAfterSearch {
  padding: 10px;
}

div.stocksAfterSearch:hover {
  border: 3px solid rgb(22, 143, 247) !important;
  color: rgb(22, 143, 247);
}

tr td {
  color: #3498db;
}

tr td:nth-child(2) {
  color: black;
  font-weight: bolder;
}
