.details{
  max-width: 80%;
  margin: 5% 10%;
}
.col:first-child{
  max-height: 100% !important;
}
app-graph{
  min-width: 600px;
}

app-graph.canvas{
  min-width: 600px;
}
ul{
  li{
    list-style: none;
    font-size: 20px;
  }
}


div.card{
  width: 400px;
  height: 400px;
}
