.login-box{
  max-width: 30%;
  max-height: 100%;
  margin: 5% auto;
}
div.login-page{
  height: 100%;
  background: rgba(255, 255, 255, 0.4) url("../../assets/imgs/img.svg") repeat-x center;
  background-size: 550px 560px;
}

.info-color{
  background: linear-gradient(to bottom , rgb(23, 125, 227), rgb(113, 178, 254)) !important;
}
