<html>
 	<head>
 	<link rel="stylesheet" href="/css/index.css">
  
 		<title>Stock Management System</title>
 	</head>
	<body>
		 
		 
		 <a href="/login">login</a>
		  <a href="/signUp">Sign up</a>
	
	
<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Price</th>
    <th>Graph</th>
    <th>Total Market Cap</th>
    <th>Total available quanity</th>
  </tr>
  <tr>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
    <td>Peter</td>
    <td>Griffin</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>Lois</td>
    <td>Griffin</td>
    <td>$150</td>
    <td>Lois</td>
    <td>Griffin</td>
    <td>$150</td>
  </tr>
  <tr>
    <td>Joe</td>
    <td>Swanson</td>
    <td>$300</td>
    <td>Joe</td>
    <td>Swanson</td>
    <td>$300</td>
  </tr>
  <tr>
    <td>Cleveland</td>
    <td>Brown</td>
    <td>$250</td>
    <td>Cleveland</td>
    <td>Brown</td>
    <td>$250</td>
  </tr>
</table>
	</body>
</html>