
tr td:nth-child(2) {
  color: black;
  font-weight: bolder;
}
th {
  vertical-align: middle;
  .name {
    max-width: 200px;
  }
}

tr th:hover {
  cursor: pointer;
  background: linear-gradient( rgb(248, 248, 248), rgb(209, 209, 209));
}

td {
  vertical-align: middle;
}

.name {
  width: 250px !important;
}

td.ticker, td.lastprice, td.perChange, td.high, td.low {
  width: 110px !important;
}

td.graph {
  max-width: 200px !important;
}

td.marketcap, td.totalsupply {
  width: 180px !important;
}

tr {
  height: 60px !important;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.pointerCursor:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  border: 3px solid rgb(22, 143, 247) !important;
}

.tableDiv {
  width: 100%;
  margin: auto 5%;
  min-height: 100%;
}

tr.table-header{
  background: linear-gradient( rgb(254, 254, 254), rgb(219, 219, 219));
}

tr td {
  color: #3498db;
}

div.header-portfolio{
  width: 90%;
  vertical-align: middle;
  margin: auto auto;
}
