
<title> Portfolio</title>

<table class ="table" >
  <tr class="row1">
    <th><b>Name</b></th>
    <th><b>Ticker</b></th>
    <th><b>Last Price</b></th>
    <th><b> %</b></th>
    <th><b> 24h High</b></th>
    <th><b>24h Low</b></th>
    <th><b> Price Graph</b></th>
    <th><b> 24h Volume</b></th>
    <th><b> #Coins</b></th>
    <th><b> Market Cap</b></th>



  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
