<div class="row justify-content-end px-5">
  <button type="button" mdbBtn class="relative waves-light btn-default float-right" (click)="basicModal.show()"
          mdbWavesEffect>+ Add Stock
  </button>
</div>
  <!--Watchlist Model-->
  <div class="watchlistModel">
    <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myBasicModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title w-100" id="myModalLabel">Select the stock to add</h4>
          </div>
          <div class="modal-body">
          <div>
            <select>
              <option *ngFor="let stock of stocks">{{stock.name}}</option>
            </select>
          </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn waves-light btn-danger" aria-label="Close" (click)="basicModal.hide()"
                    mdbWavesEffect>Cancel
            </button>
            <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                    (click)="addToWatchlist(stock.ticker)">Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="tableDiv">
    <table class="table table">
      <thead>
      <tr class="table-header">
        <th class="name" scope="col"><strong>Name</strong></th>
        <th class="ticker" scope="col"><strong>Ticker</strong></th>
        <th class="lastprice" scope="col"><strong>Price</strong></th>
        <th class="perChange" scope="col"><strong>Percent Change</strong></th>
        <th class="high" scope="col"><strong>24 hours high</strong></th>
        <th class="low" scope="col"><strong> 24 hours low</strong></th>
        <!--<th class="graph" scope="col"><strong>Price Chart 1d</strong></th>-->
        <th class="marketcap" scope="col"><strong>Market Cap</strong></th>
        <th class="totalsupply" scope="col"><strong>Total Supply</strong></th>
      </tr>
      </thead>
      <tbody>
      <tr class="pointerCursor" *ngFor="let stock of watchlist" (click)="stockDetails(stock.ticker)">
        <td class="name-value">{{stock.name}}</td>
        <td class="ticker.value font-weight-bold">{{stock.ticker}}</td>
        <td class="lastprice.value">${{stock.price.toLocaleString()}}</td>
        <td class="perChange.value font-weight-bold" appPercentChange="{{stock.p_change}}">
          {{stock.p_change.toLocaleString()}}%
        </td>
        <td class="high.value">${{stock.max}}</td>
        <td class="low.value">${{stock.min}}</td>
        <!--<td class="graph.value"></td>-->
        <td class="marketcap.value">${{stock.total_market_cap.toLocaleString()}}</td>
        <td class="totalsupply.value">{{stock.total_stock_supply.toLocaleString()}}</td>
      </tr>
      </tbody>
    </table>
  </div>
